{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
<h1>Edit Categorie</h1>

<form action="{{ path('app_categories_admin_edit', {id: categorie.id}) }}" method="post">
    <div>
        <label for="categorie_name">Name:</label>
        <input type="text" id="categorie_name" name="name" value="{{ categorie.name }}" required>
    </div>
    <button type="submit">Update</button>
</form>

<a href="{{ path('app_categories_admin') }}">Back to list</a>
{% endblock %}

