{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
<h1>Create New Categorie</h1>

<form action="{{ path('app_categories_admin_new') }}" method="post">
    <div>
        <label for="categorie_name">Name:</label>
        <input type="text" id="categorie_name" name="name" required>
    </div>
    <button type="submit">Create</button>
</form>

<a href="{{ path('app_categories_admin') }}">Back to list</a>
{% endblock %}

