{% extends 'base.html.twig' %}

{% block body %}
    <h1>Thank you for your purchase!</h1>
    <p>Your payment has been successfully processed.</p>
    <p>
        <a href="{{ path('app_product') }}">Return to homepage</a>
    </p>
{% endblock %}
