{% extends 'base.html.twig' %}

{% block title %}Edit user{% endblock %}

{% block stylesheets %}
    <style>
        table {
            width: 100%;
        }
        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Edit user</h1>
    <form method="post">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" name="name" value="{{ user.name }}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" name="email" value="{{ user.email }}"></td>
            </tr>
            <tr>
            <th>Password</th>
            <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <th>Role</th>
                <td>
                    <select name="role">
                        {% for role in roles %}
                            <option value="{{ role.id }}" {% if role.id == user.role.id %}selected{% endif %}>{{ role.name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}

